<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trying RazorPay</title>
</head>
<body>
<h1>Trying Razorpay</h1>
<div>
    <h1>1. Create Order</h1>
    <form action="#" th:action="@{/create-order}" th:object="${orderForm}" method="POST">
        <input type="text" placeholder="Amount" th:field="*{amount}" name="amount" value="amount">
        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Value cannot be less than 100</span>
        <button type="submit">Create Order</button>
    </form>
</div>
</body>
</html>