<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trying RazorPay; 1. Create Order</title>
</head>
<body>
<div>
    <h1>2. Make Payment</h1>
    <table>
        <tr>
            <td>
                OrderId:
            </td>
            <td th:text="${orderId}">
            </td>
        </tr>
        <tr>
            <td>
                Amount:
            </td>
            <td th:text="${amount}">
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <form action="/success" method="POST">
        <script
                data-buttontext="Pay with Razorpay"
                data-currency="INR"
                data-description="Test transaction"
                data-image="https://example.com/your_logo.jpg"
                data-key="rzp_test_cjiZ7kyueJCUGb"
                data-name="Acme Corp"
                data-prefill.contact="9999999999"
                data-prefill.email="gaurav.kumar@example.com"
                data-prefill.name="Gaurav Kumar"
                data-theme.color="#F37254"
                src="https://checkout.razorpay.com/v1/checkout.js"
                th:data-amount="${amount}"
                th:data-order_id="${orderId}"
        ></script>
        <input custom="Hidden Element" name="hidden" type="hidden">
    </form>
</div>
</body>
</html>